.main{
  display: grid;
  width: 100vw;
  height: 58rem;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: 1fr 10fr;
  background-color: rgb(0, 0, 0);
  color: white;
  border-bottom: 8px solid white;
}
.heading{
  grid-column: 2/3;
  font-size: 3rem;
  font-weight: 700;
  justify-self: center;
  align-self: center;
}
.center{
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.whatproduct{
  object-fit: contain;
  height: 22rem;
  margin-top: 3rem;
  padding-left: 4rem;
}
.howworks{
  object-fit: contain;
  height: 22rem;
  width: 35rem;
  padding-left: 1rem;
}